/fun.txt
/config.py
/rec1/recipes1.txt
/promotions.txt
/rec1/recipes2.txt
/rec1/recipes3.txt
/rec1/recipes4.txt
/rec1/recipes5.txt
/rec1/recipes6.txt
/rec1/recipes7.txt
/rec1/recipes8.txt
/rec1/recipes9.txt
/rec1/recipes10.txt
/rec1/
/rec2/
/rec3/
